This is the index page

<% @tweets.each do |tweet| %>
	<ul class="list-group">
		<li class="list-group-item"><p><strong><%= tweet.user.email %></strong></p><p><%= tweet.content %></p>
		</li>
	</ul>
<% end %>